body {
    margin: 0 auto 0 auto;
    max-width: 1024px;
    background-color: #cecccc;
    height: auto;
}

.page {    
    position: relative;
    width: 1024px;
}

/****Encabezado****/
.encabezado{
    position:  relative;
    top: 0;
    background-color: #cecccc;
    width: 1024px;
    border-color: blue;
}
.logo{
    width: 150px;
    position: relative;
    margin-left: 870px;
    border: 0px;
}

.p1{
    margin: -160px 0 0 0;
    position: absolute;
    font-family: Calibri;
    color: blue;
    font-stretch: normal;
    font-size: 18px;
    font-weight: bold;
}
h1{
    position: absolute;
    margin: -110px 0 0 550px;
    font-family: Calibri;
    color: blue;
    font-stretch: normal;
    font-weight: bold;
    font-size:  60px;
}

.page-index{
    position: relative;
    height: auto;
    margin-left: 200px;
    margin-top: 0px;
}
.page-index:after{
width: 100%;
height:150px;
display:block;
clear:both;
}

.page-wrap{
    position: relative;
    height: auto;
}

/*Footer*/
footer{
    position: relative;
    font-size: 20px;
    text-align: center;
    float:left;
    width:100%;
    padding-top: 20px;
}

.pFooter{
    color: #ff1f79;
    font-weight: bold;
    font-size: 35px;
    font-family: Calibri;
}
.ppFooter{
    font-family: Calibri;
    font-size: 25px;
}

aside{
    float: left;
    /*top: 262px;*/
    position: relative;
    width: 170px;
    background-color: blue;
    box-shadow: 7px 5px 35px #999;
}

.mision{
    margin-left: 5px;
    width: 160px;
}
.vision {
    width: 150px;
}

h2{
    color:  white;
    text-align: center;
    font-family: Calibri;
    font-size: 35px;
}
/**Contenido de Aside**/
.p2{
    color: white;
    /*font-size: 12px;*/
    text-align: justify;
    font-family: Calibri;
}

/******MENU 1********/
.menu{
    position: relative;
    margin: 0px 0 0 -40px;
    height: 37px;
}
#lista1{
    width: 1024px;
}
#menu1 li{
    display: inline;
}
#menu1 li a{    
    font-family: Calibri;
    font-size:20px;
    text-decoration: none;
    float:left;
    padding:15px;
    background-color: #0606ed;
    color: white;
    text-align: center;
    width: 174.8px;
}

 /****Menu 2*****/
.menu2{
    position: relative;
    margin: 0px 0 0 -40px;
    height: 40px;
}
#lista2{
    width: 1024px;
}
#lista2 li{
    display: inline;
}
#lista2 li a{    
    font-family: Calibri;
    text-decoration: none;
    float:left;
    padding: 10px;
    background-color: #ff1f79;
    border-color: Yellow;
    border: 5px;
    color: White;
    width: 321.3px;
    text-align: center;
}

/*quienes somos*/
.retrato{
    position: relative;
    width: 80px;
    height: 100px;
    margin-left: 95px;
}

.nombre{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: Calibri;
}

.cargo{
    color: white;
    font-family: Calibri;
}

#padre1{
    position: relative;
    width: 1024px;
    top: 20px;
    float: left;
}
#hijo1{
    margin-left: 50px;
    position: relative;
    background-color: blue;
    height: 300px;
    width: 270px;
    float: left;
}

#hijo2{
    position: relative;
    background-color: blue;
    height: 300px;
    width: 270px;
    float: left;    
    margin-left: 50px;
}
#hijo3{
    position: relative;
    background-color: blue;
    height: 300px;
    width: 270px;
    float: left;
    margin-left: 60px;
}
#padre2{
    position: relative;
    width: auto;
    float: left;
    margin-top: 40px;
}

#hijo4{
    position: relative;
    height: 300px;
    width: 270px;
    background-color: blue;
    float: left;
    margin-left: 220px;
}
#hijo5{
    position: relative;
    background-color: blue;
    height: 300px;
    width: 270px;
    float: left;
    margin-left: 50px;;
}

#padre3{
    position: relative;
    width: 100%;
    float: left;
    top: 20px;
}

#hijo6{
    position: relative;
    height: 300px;
    width: 270px;
    background-color: blue;
    float: left;
    margin-left: 220px;
}
#hijo7{
     position: relative;
    height: 300px;
    width: 270px;
    background-color: blue;
    float: left;
    margin-left: 50px;
}

.content{
    position: relative;
    top: 40px;
}
/*Contacto*/
.formulario{
    position: relative;
    margin-top: 0px;
    height: 350px;
    float: right;
    margin-right: 60px;
}

.personas{
    position: relative;
    background-color: blue;
    width: 270px;
    float: left;
}

.nombres{
    padding-left: -5px;
    padding-bottom: 10px;
}

.texto{
    width: 300px;
    height: 25px;
}

.lbl{
    color: #ff1f79;
    font-weight: bold;
    font-family: Calibri;
    font-size: 30px;
    text-align: center;
}
.td1{
    width: 300px;
    height: 30px;
}

/****/
#redeSociales{
    position: absolute;
    margin-top: 130px;
}

.icono{
    width: 30px;
    height: 30px;
}


/**noticias**/
.noticia{
    position: relative;
    top: 0;
}
.divTitulo{
    position: relative;
    top: 0px;
    font-family: 'Times New Roman';
    font-size: 20px;
    width: auto;
    height: auto;
}

.divCuerpo{
    
}

/*Noticias.php*/
.tituloNoticia{
    font-family: Helvetica;
    font-size: 25px;
    color: #ff0080;
}
.detalleNoticia{
    font-family: Helvetica;
    font-size: 16px;
}
.finNoticia{
    margin-top: 10px;
}

/*Biblioteca*/
.imgConstruccion{
    position: relative;
    top: 0;
}

/*Login*/
.registro{
    top: 0;
}