<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<connectionStrings>
        <add connectionString="server=localhost;uid=picctoUxame;pwd=kWvx()__n9F*;Database=piccto" name="piccto" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>-->
    <system.webServer>
    </system.webServer>
</configuration>
